body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#board{
  width:40rem;
  height:40rem;
}
.square {

  background: -webkit-linear-gradient(bottom, blue, #76d976 40%, #780606);
  background: -moz-linear-gradient(bottom, blue, #76d976 40%, #780606);
  background: -o-linear-gradient(bottom, blue, #76d976 40%, #780606);
  background: linear-gradient(to top, blue, #76d976 40%, #780606);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 5rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 5rem;
  }


.row {
  
    border: 3px dotted darkviolet;
    height: 5rem;
    box-shadow: 25, 14, 48, 133;
    clear: both;
    display: flex;
    justify-content: space-around;
}

#announce-winner {
  clear: both;
  font-size: 50px;
}
