body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#board{
  width:40rem;
  height:40rem;
}
.square {

    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }


.row {
  border: 3px dotted darkviolet;
  box-shadow: 32, 4, 56, 133;
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
}
